Source: ros-bouncy-message-filters
Section: misc
Priority: extra
Maintainer: Ethan Gao <ethan.gao@linux.intel.com>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, ros-bouncy-ament-cmake, ros-bouncy-rclcpp, ros-bouncy-rcutils, ros-bouncy-rmw-implementation-cmake, ros-bouncy-rosidl-default-generators, ros-bouncy-std-msgs, ros-bouncy-ros-workspace
Homepage: https://github.com/intel/ros2_message_filters
Standards-Version: 3.9.2

Package: ros-bouncy-message-filters
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-bouncy-rclcpp, ros-bouncy-rcutils, ros-bouncy-rmw-implementation, ros-bouncy-rosidl-default-runtime, ros-bouncy-std-msgs, ros-bouncy-ros-workspace
Description: A set of ROS2 message filters which take in messages and may output those messages at a later time, based on the conditions that filter needs met.
