Source: ros-iron-message-filters
Section: misc
Priority: optional
Maintainer: Geoffrey Biggs <geoff@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-iron-ament-cmake-gtest <!nocheck>, ros-iron-ament-cmake-pytest <!nocheck>, ros-iron-ament-cmake-python, ros-iron-ament-cmake-ros, ros-iron-ament-lint-auto <!nocheck>, ros-iron-python-cmake-module, ros-iron-rclcpp, ros-iron-rclcpp-lifecycle <!nocheck>, ros-iron-rcutils, ros-iron-sensor-msgs <!nocheck>, ros-iron-std-msgs <!nocheck>, ros-iron-ros-workspace
Homepage: https://github.com/intel/ros2_message_filters
Standards-Version: 3.9.2

Package: ros-iron-message-filters
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-iron-builtin-interfaces, ros-iron-rclcpp, ros-iron-rclpy, ros-iron-rcutils, ros-iron-ros-workspace
Description: A set of ROS2 message filters which take in messages and may output those messages at a later time, based on the conditions that filter needs met.
